body {
  font-family: Arial, sans-serif;
  background: #7a6f6f;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: rgb(234, 165, 236);
  padding: 20px;
  width: 350px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.input-section {
  display: flex;
  gap: 10px;
  border-radius: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #3f2727;
  height: 40px;
  box-sizing: border-box;
}

button {
  width: 80px;
  height: 40px;

  border: 1px solid #555;
  border-radius: 6px;

  background: rgb(87, 228, 111);
  cursor: pointer;

  font-size: 14px;
}

li {
  margin-top: 10px;
  background: #eeebf0;
  padding: 10px;
  border-radius: 5px;
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 40px;
  box-sizing: border-box;
  transition: 0.3s;
}

li span {
  flex: 1;
}

ul {
  padding: 0;
}
button:hover {
  opacity: 0.8;
}
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}